.wrapper {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    width: auto;
    font-family: $bodyFont;
    grid-gap: 20px;
    padding: 2vw 0px;
}

.genre {
    position: absolute;
    @include fontSize(24);
    margin-left: 20px;
    padding: 0px 10px;
    padding-top: 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, #cbdbff98 40%);
}

.date,
.gallery,
.sportsContent,
.artsContent,
.musicContent {
    display: flex;
}

.date,
.gallery {
    justify-content: center;
    align-items: center;
}

.date { 
    grid-area: 1 / 1 / 2 / 4; 
    background-color: #f2f2f2;
    flex-direction: column;
    color:rgba(27, 27, 27, 0.75);

    p {
        @include fontSize(35);   
    }
}

.gallery {
    grid-area: 2 / 1 / 4 / 4; 
    flex-direction: row;
}

.imageDiv1,
.imageDiv2,
.imageDiv3 {
    width: calc(100% / 3);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.imageDiv1 {
    // background-image:  url(../assets/gallery1.jpg);
    background-color: #dfe9ff;
}

.imageDiv2 {
    // background-image: url(../assets/gallery2.jpg);
    background-color: #cbdbff;
    margin: 20px;
}

.imageDiv3 {
    // background-image:  url(../assets/gallery3.jpg);
    background-color: rgb(224, 234, 255);
}

.eventDiv {
    background-color: white;
    margin: 20px auto;
    margin-top: 50px;
    width: calc(50% - 40px);
    padding: 20px;
    &:focus {
        outline: 2px solid #1585a0;
    }
}

.eventName {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    @include fontSize(14);
    padding: 10px 0px;
}

.eventDate {
    color: grey;
}

.sports,
.music,
.arts,
.sportsContent,
.artsContent,
.musicContent {
    flex-wrap: wrap;
    background-color: #f2f2f2;
}

.sports { 
    grid-area: 1 / 4 / 4 / 7; 
}

.music { 
    grid-area: 4 / 1 / 7 / 4; 
}

.arts { 
    grid-area: 4 / 4 / 7 / 7; 
} 

ul {
    overflow: auto;
}

// Media Queries

@media (max-width: 1000px){
    ul .eventDiv {
        width: 100%;
        margin: 20px;
    }

    .gallery {
        .imageDiv1,
        .imageDiv2 {
            width: 50%;
        }

        .imageDiv2 {
            margin: 0 0 0 20px;
        }

        .imageDiv3 {
            display: none;
        }
    }
}


@media (max-width: 810px){
    main {
        height: 100%;
    }

    .date p {
        @include fontSize(32);
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(15, 1fr);
        grid-row-gap: 20px;
        height: 100%;

            .sports,
            .music,
            .arts,
            .sportsContent,
            .artsContent,
            .musicContent {
                height: 50vh;
            }
        }
        
        .date { grid-area: 1 / 1 / 3 / 7; }
        .gallery { 
            grid-area: 3 / 1 / 6 / 7;
            .imageDiv1,
            .imageDiv2 {
                margin: 20px auto;
            }

            .imageDiv1{
                margin-right: 10px;
            }

            .imageDiv2{
                margin-left: 10px;
            }
        }
        .sports { grid-area: 7 / 1 / 10 / 7; }
        .music { grid-area: 10 / 1 / 13 / 7; }
        .arts { grid-area: 13 / 1 / 16 / 7; } 
}


@media(max-width: 680px){
    .gallery {
        .imageDiv1 {
            width: 100%;
            margin-right: 0px;
        }

        .imageDiv2 {
            display: none;
        }
    }
    
}


@media (max-width: 530px){
    .date p {
        @include fontSize(27);
    }

    .gallery,
    .date {
        width: 100%;
    }
}



